#svg-container {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". svg-container .";
	height: 100vh;
	background-color: #000;

	@include md {
		grid-template-columns: auto 70% auto;
	}

	@include lg {
		grid-template-columns: auto 60% auto;
	}

	@include xl {
		grid-template-columns: auto 1200px auto;
	}

	>div {
		display: flex;
		align-items: center;

		grid-area: svg-container;

		#svg-content {
			position: relative;
			width: 100%;

			img {
				position: absolute;
				top: 28%;
				right: 15.5%;
				
				height: 10%;
			}

			video {
				position: fixed;
				min-width: 100%;
				min-height: 100%;
			}



			svg {
				width: 100%;
			}
		}
	}
}